<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Name</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="static/style/card.css">
    <link rel="stylesheet" href="../fontawesome-free-5.14.0-web/css/fontawesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-dark main-color">
            <a class="navbar-brand" href="#">Fixed top</a>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto big-border bord-radius">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mx-auto d-block">
                        <div class="thumbnail">
                            <a class="a-line" href="#">
                                <img src="../img/d-a.jpg" alt="Fjords" class="catalog-card" style="width:100%">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <h1 class="display-4 font-weight-bold title">Шарик</h1>
                            </div>
                        </div>
                        <div class="row align-content-around">
                            <div class="col-md-8 orange">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3">
                                        <h3>Порода: </h3>
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-9 align-self-sm-end">
                                        <h3><small>порода</small></h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3">
                                        <h3>Возраст: </h3>
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-9 align-self-sm-end">
                                        <h3><small>6 лет</small></h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3">
                                        <h3>Номер: </h3>
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-9 align-self-sm-end">
                                        <h3><small>098-894-322</small></h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3">
                                        <h3>Пол: </h3>
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-9 align-self-sm-end">
                                        <h3><small>самец</small></h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3">
                                        <h3>Прибыл: </h3>
                                    </div>
                                    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-9 align-self-sm-end">
                                        <h3><small>26.01.2016</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                <div class="d-flex flex-column">
                                    <p class="lead but">
                                        <a class="btn btn-lg text-shadow box-shadow" href="#" role="button">ПОГУЛЯТЬ</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                                <div class="d-flex flex-column">
                                    <p class="lead but">
                                        <a class="btn btn-lg text-shadow box-shadow" href="#" role="button">ВЗЯТЬ НА ПОПЕЧНИЕ</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="d-flex flex-column">
                                    <p class="lead but-green">
                                        <a class="btn btn-lg text-shadow box-shadow" href="#" role="button">ЗАБРАТЬ ДОМОЙ</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container bord-radius orange">
            <div class="row justify-content-center">
                <div class="tabbable">
                    <div class="row-fluid">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1" data-toggle="tab"><h3>Описание</h3></a></li>
                                <li><a href="#tab2" data-toggle="tab"><h3>Характер</h3></a></li>
                                <li><a href="#tab3" data-toggle="tab"><h3>Здоровье</h3></a></li>
                                <li><a href="#tab4" data-toggle="tab"><h3>Дополнительно</h3></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="tab-content col-auto">
                            <div class="tab-pane active" id="tab1">
                                <h3><small>Описание</small></h3>
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                <h3><small>Характер</small></h3>
                            </div>
                            <div class="tab-pane fade" id="tab3">
                                <h3><small>Здоровье</small></h3>
                            </div>
                            <div class="tab-pane fade" id="tab4">
                                <h3><small>Дополнительно</small></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>